tensorflow-gpu==1.13.1
keras==2.2.4
scipy
scikit-learn
opencv-python
h5py
matplotlib
Pillow
requests
psutil
ipykernel
jupyter
pandas 
pony
essentia
librosa
scikit-image=0.13
xlrd 
easydict
moviepy==0.2.2.11
six==1.10.0
